/* --------------
reset styles 
--------------- */

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

:root{
    --primary-color: #E02C6D;
    --secondary-color: #3A3A3A;
    --tertiary-color: #0A0826;
    --black: #000;
    --white: #fff;
    --orange: #FB8200;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 1rem;
}


.btn-primary{
    background-color: var(--primary-color);
    padding: 1rem 2rem;
    border: none;
    color: #fff;
    border-radius: 2.5rem;
    font-weight: 700;
    font-size: 1rem;
    margin: 1rem 0;

}


/*--------------------
    navbar styles
----------------------*/


.navbar{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0 2rem 0;
}

.navbar-title{
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 1.5rem;
}

.navbar .navbar-options{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 2.125rem;
}

.navbar .navbar-options a{
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 1rem;
}

.fa-magnifying-glass, .fa-cart-shopping{
    font-size: 1.5rem;
    color: var(--secondary-color);
}


/* -------------------
    banner styles
-------------------- */

.banner{
    display: flex;
    padding: 5rem 0;
    justify-content: space-between;
    align-items: center;

}

.banner img{
    width: 100%;
    max-width: 28rem;
    background-image: url("../images/image-background.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    
}

.banner .banner-text .banner-title{
    font-size: 3.25rem;
    font-weight: 700;
    color: var(--secondary-color);
    line-height: 4.3rem;
}

.banner .banner-text .banner-subtitle{
    font-size: 1rem;
    font-weight: 600px;
    line-height: 1.5rem;
    margin: 1rem 0;

}



/* -------------------
    logos styles
-------------------- */

.logos{
    display: flex;
    justify-content: space-around;
    gap: 3.75rem;
    flex-wrap: wrap;
    padding: 2.75rem 0;
    border-top: 2px solid #4444441a ;
    border-bottom: 2px solid #4444441a ;
}

/* ----------------------
    collection styles
------------------------- */

.collection-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.87rem;
    justify-content: space-around;
}

.collection-header{
    text-align: center;
    padding: 6.25rem 0 1.87rem 0 ;
    font-size: 1.75rem ;
    font-weight: 600;
    color: var(--secondary-color);
}

.item{

    padding: 0.8rem;
    background-color: var(--white);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    border-radius: 0.5rem;
}

.item .item-image{
    width: 100%;
    /* max-width: 18.75rem; */
}

.item-title{
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--secondary-color);
    margin-top: 1rem;
}

.item-price{
    font-size: 1.5rem;
    color: var(--black);
    font-weight: 400;
    margin-top: 0.3rem;
}

.ratings{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.star{
    font-size: 0.68rem;
    color: var(--orange);
    margin-top: 0.71rem;

}

.item-subtitle{
    font-size: 0.87rem;
    font-weight: 700;
    color: var(--secondary-color);
    line-height: 1.26rem;
    margin-top: 0.71rem;
}

.seemore-button{
    text-align: right;
}

.seemore-btn{

    border: none;
    background:none;
    margin: 3.124rem 0 6.25rem 0 ;
}

.seemore-btn a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 700;
}

.join-banner .join-img{
    width: 100%;
    max-width: 404px;
}

.join-banner{
    display: flex;
    align-items: center;
    gap: 6rem;
}

.join-title{
    font-size: 2.37rem;
    font-weight: 700;
    color: var(--tertiary-color);
}

.join-subtitle{
    font-size: 1rem;
    font-weight: 700;
    color: var(--secondary-color);
    line-height: 1.75rem;
    margin-top: 1rem;

}

.join-btn{
    border: none;
    background-color: var(--primary-color);
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 700;
    color: var(--white);
    padding: 0.625rem 3.5rem 0.625rem 1.5rem;
    margin-top: 1rem;
}

/* ----------------------
footer styles
----------------------- */

.footer-wrapper{
    background-color: var(--tertiary-color);
    margin-top: 6.25rem;
}


.footer-container{
    padding: 3.15rem 0;
    text-align: center;
}

.footer-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);
}

.footer-subtitle{
    font-size: 0.87rem;
    font-weight: 500;
    color: var(--white);
    margin-top: 0.5rem;
}

.footer-icon{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}